
/* Giving padding to index page elements*/
padding
{
  width: 800px;
  padding: 20px;
  margin: 0px;
  color: black;
  background-color: black;
  border: 2px solid #5D6063;
  border-radius: 5px;
}


/* Giving headings a 30px size*/
 
h3 {
font-size: 30px;
}


/* Giving our navbar some padding and a background color */
.navbar {
  padding: 10px;
  background: black;
}

.box{
  padding: 10px;
  background: #F8F8F8;
  margin-top:8px;
  margin-left:5px;
  margin-right:5px;
  margin-bottom:20px;
  align-content: center;
}



